extends layout

block content
    if currentUser
      p Welcome back !{currentUser.username}

    if allMessages
      section.message-section
        each msg in allMessages
          div.message-container
            div.message-title.container
              strong !{msg.title}
            div.message-text-container
              p Message Text: !{msg.text}
              if currentUser
                if currentUser.member
                  div.message-timestamp-container
                    p Timestamp: !{msg.timestamp}
                  div.message-user-container
                    p Posted By: !{msg.user.username}
                
                if currentUser.admin
                  a(href=msg.url+`/delete`) Delete Post 



